<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="UTF-8">
  <title>String Calculator</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Courier+Prime' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<div class="container">
  <br>
  <h1 class="title">String Calculator</h1>
  <br>
  <div class="style-input">
    <form action="{{ url_for('ans')}}" method="post">
      <label>
        <input type="text" name="eq" placeholder="Enter your equation" />
        <button type="submit"><i class="icon ion-android-arrow-forward"></i></button>
      </label>
    </form>
  </div>
  <br>
  <br>
  <h2 style="font-size: 2rem; color: #FFFFFF">{{answer}}</h2>
</div>

</html>